* {
    margin: 0;
    padding: 0;
}

.calculadora {
    background: linear-gradient(0deg, rgba(214,186,124,1) 0%, rgba(115,203,181,1) 100%);

}

.grafico {
    margin: 10px auto;
    height: 100vh;
}
